*{
    box-sizing: border-box;
}
.Navbar {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 60px;
    padding: 5px 25px;
    color: #ccc;
    font-family: Inter,Comfortaa;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav--logo{
    display: flex;
    font-family: Comfortaa;
}

.nav--logo:hover,.Navbar li:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: all .2s ease-in-out;
    filter: brightness(1.5);
}
.nav--text{
    font-size: 30px;
}

/* .nav--user{
    margin-left: auto;
} */
.nav--user button{
    margin-left: 10px;
    width:80px;
    height :35px;
    border-radius: 2px;
    font-weight: 700;
}
.nav--user button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    filter: brightness(1.02);
}

.Login{
    color: #4baedc;
    background-color: transparent;
    border:1px solid #4baedc;
}
.Signup{
    background-color: #4baedc;
    color: white;
    border:1px solid #4baedc;
}

.Login:hover{
    background-color: #4baedc;
    color: white;
    border:1px solid #4baedc;
}
.Signup:hover{
    color: #4baedc;
    background-color: transparent;
    border:1px solid #4baedc;
}


.hamburger{display:none}
.nav--item{
    margin-left: auto;
}
.nav--item ul{
    list-style: none;
    display: flex;
}
.Navbar li{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #ccc;
    font-family: Inter,Comfortaa;
}
@media screen and (max-width:960px) {
    .nav--user{
        display: none;
    }
    .hamburger{
        display: flex;
        margin-left: auto;
    }
    .mobile-nav--user{
        background-color: #21222A;
        padding-top: 20px;
        width: 95%;
        height: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        position:absolute;
        top: 52px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
}

@media screen and (max-width:800px) {
    .nav--item ul{
        display: none;
    }
    .hamburger{
        display: flex;
        margin-left: auto;
    }
    .mobile-nav--item{
        z-index: 1;
    }
    .mobile-nav--item ul{
        width: 95%;
        left: 2.5%;
        top: 52px;
        background-color: #21222A;
        display:flex;
        position: absolute;
        flex-direction: column;
        padding: 20px;
    }
    .mobile-nav--item li{
        margin: 10px 20px;
        font-size: 24px;
        align-self: flex-start;
    }
    .mobile-nav--user{
        background-color: #21222A;
        width: 95%;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        position:absolute;
        top: 222px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
}